[alias]
  co = checkout
  br = branch
  st = status
[diff]
  algorithm = patience
[fetch]
  prune = true
[push]
  default = simple
[user]
  email = yandavid@users.noreply.github.com
  name = David Yan
  signingkey = BE8E2B1FA0B1FFBD
[commit]
  gpgsign = true
