[alias]
  co = checkout
  br = branch
  st = status
[diff]
  algorithm = patience
[fetch]
  prune = true
[push]
  default = simple
[user]
  email = yandavid@users.noreply.github.com
  name = David Yan
  signingkey = 58C04938D92A4A27
[commit]
  gpgsign = true
